body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: normal;
}

#tasks .completed {
  background: #ccc;
}
.completed {
  font-size: 12px;
  font-family: Arial, sans-serif;
}

#tasks{
  background-color: #ccc;
  text-decoration: underline;
}